<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BidMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bid (goods_id, user_account, price, create_time, bidder_code)
        VALUES (#{goodsId}, #{userAccount}, #{price}, NOW(), #{bidderCode})
    </insert>

    <select id="selectByGoodsId" resultType="com.example.entity.Bid">
        SELECT * FROM bid
        WHERE goods_id = #{goodsId}
        ORDER BY create_time DESC
    </select>

    <select id="selectByGoodsIdAndUser" resultType="com.example.entity.Bid">
        SELECT * FROM bid WHERE goods_id = #{goodsId} AND user_account = #{userAccount} LIMIT 1
    </select>

    <update id="update" parameterType="com.example.entity.Bid">
        update bid set goods_id = #{goodsId}, user_account = #{userAccount}, price = #{price}, create_time = NOW(), bidder_code = #{bidderCode}
        where id = #{id}
    </update>

</mapper>
