<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.GoodsMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goods (name, intro, start_price, current_price, reserve_price, start_time, end_time, user_account, status, image_url)
        VALUES (#{name}, #{intro}, #{startPrice}, #{currentPrice}, #{reservePrice}, #{startTime}, #{endTime}, #{userAccount}, #{status}, #{imageUrl})
    </insert>

    <update id="update">
        UPDATE goods
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="startPrice != null">start_price = #{startPrice},</if>
            <if test="currentPrice != null">current_price = #{currentPrice},</if>
            <if test="reservePrice != null">reserve_price = #{reservePrice},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="userAccount != null">user_account = #{userAccount},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM goods WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.example.entity.Goods">
        SELECT * FROM goods WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.entity.Goods">
        SELECT * FROM goods
        <where>
            <if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="userAccount != null and userAccount != ''">AND user_account = #{userAccount}</if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByUserAccount" resultType="com.example.entity.Goods">
        SELECT * FROM goods
        <where>
            <!-- 如果传入了账号，就按账号查 -->
            <if test="userAccount != null and userAccount != ''">
                AND user_account = #{userAccount}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByStatus" resultType="com.example.entity.Goods">
        SELECT * FROM goods WHERE status = #{status}
    </select>


</mapper>
