<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">

    <select id="selectAll" resultType="com.example.entity.User">
        select * from user
        <where>
            <if test="name != null">name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="selectList" parameterType="com.example.entity.User" resultType="com.example.entity.User">
        SELECT * FROM user
        <where>
            <!-- 根据ID查询 -->
            <if test="id != null">
                AND id = #{id}
            </if>

            <!-- 账号精确查询 -->
            <if test="account != null and account != ''">
                AND account = #{account}
            </if>

            <!-- 姓名模糊查询 -->
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>

            <!-- 密码查询 -->
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>

            <!-- 性别查询 -->
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <!-- 权限ID查询 -->
            <if test="accessId != null">
                AND access_id = #{accessId}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <insert id="insert" parameterType="com.example.entity.User">
        insert into user (id, name, account, sex, password, access_id) values (#{id}, #{name}, #{account}, #{sex}, #{password}, #{accessId})
    </insert>

    <update id="update" parameterType="com.example.entity.User">
        update user set account = #{account}, name = #{name}, sex = #{sex}, password = #{password}, access_id = #{accessId} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>